doctype html 
html 
    head
        title About Page 
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./includes/header.pug
        .container
            h2 About Page
        include ./includes/footer.pug