doctype html 
html 
    head
        title My profile
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./includes/header.pug
        .container 
            div.content  
                form(action=`/update-profile/${user.id}` method="POST")
                    h1 Profile
                    div.content 
                        span User Name 
                        span(class='required') (*)
                        input(type="text" placeholder="Username" name="username" value=user.username)
                    div.content 
                        span Password 
                        span(class='required') (*)
                        input(type="password" placeholder="Password" name="password" value=user.password)
                    button(type="submit") Lưu
        include ./includes/footer.pug